---
http_interactions:
- request:
    method: get
    uri: https://www.central.co.jp/club/jsonp_schedule.php?club_code=145&yyyymm=201801
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: ({"club_name":"\u30bb\u30f3\u30c8\u30e9\u30eb\u30d5\u30a3\u30c3\u30c8\u30cd\u30b9\u30af\u30e9\u30d6
        \u4e00\u793e","status":true,"studio_pdf":false,"pool_pdf":false,"other_pdf":false,"nextstatus":true,"represent":true,"holiday":true,"viewcurrentmonth":false,"today_youbi":"7","pims_facility":[{"namcd":"A1","nam1":"\u30b9\u30bf\u30b8\u30aa"},{"namcd":"A2","nam1":"\u30a2\u30ea\u30fc\u30ca"},{"namcd":"A3","nam1":"\u30b9\u30ab\u30c3\u30b7\u30e5\uff21"},{"namcd":"A5","nam1":"\u30b8\u30e0"},{"namcd":"B1","nam1":"\u30d7\u30fc\u30eb"}],"pims_closed":[{"datebi":"1","youbi":"1","datekb":"2"},{"datebi":"2","youbi":"2","datekb":"3"},{"datebi":"3","youbi":"3","datekb":"1"},{"datebi":"4","youbi":"4","datekb":"0"},{"datebi":"5","youbi":"5","datekb":"0"},{"datebi":"6","youbi":"6","datekb":"0"},{"datebi":"7","youbi":"7","datekb":"0"},{"datebi":"8","youbi":"1","datekb":"3"},{"datebi":"9","youbi":"2","datekb":"0"},{"datebi":"10","youbi":"3","datekb":"1"},{"datebi":"11","youbi":"4","datekb":"0"},{"datebi":"12","youbi":"5","datekb":"0"},{"datebi":"13","youbi":"6","datekb":"0"},{"datebi":"14","youbi":"7","datekb":"0"},{"datebi":"15","youbi":"1","datekb":"0"},{"datebi":"16","youbi":"2","datekb":"0"},{"datebi":"17","youbi":"3","datekb":"1"},{"datebi":"18","youbi":"4","datekb":"0"},{"datebi":"19","youbi":"5","datekb":"0"},{"datebi":"20","youbi":"6","datekb":"0"},{"datebi":"21","youbi":"7","datekb":"0"},{"datebi":"22","youbi":"1","datekb":"0"},{"datebi":"23","youbi":"2","datekb":"0"},{"datebi":"24","youbi":"3","datekb":"1"},{"datebi":"25","youbi":"4","datekb":"0"},{"datebi":"26","youbi":"5","datekb":"0"},{"datebi":"27","youbi":"6","datekb":"0"},{"datebi":"28","youbi":"7","datekb":"0"},{"datebi":"29","youbi":"1","datekb":"0"},{"datebi":"30","youbi":"2","datekb":"0"},{"datebi":"31","youbi":"3","datekb":"1"}],"pims_schedule":[{"sisetcd":"A1","sisetnm":"\u30b9\u30bf\u30b8\u30aa","gyono":"46","youbi":"6","sttime":"900","totime":"60","progcd":"A4007","prognm":"\u30ad\u30c3\u30ba\u30c0\u30f3\u30b9\u30b9\u30af\u30fc\u30eb","school":"1","yuryokb":"1","yoyakb":"0","instcd":"5946915","instnm":"\u5bae\u5ddd\u306f\u3065\u304d","instrnm":"\u5bae\u5ddd","level":"2","hmarknm":"\u2015","kids_flag":"1","color_cd":"ffffcc"},{"sisetcd":"B1","sisetnm":"\u30d7\u30fc\u30eb","gyono":"55","youbi":"6","sttime":"900","totime":"60","progcd":"B2103","prognm":"\uff77\uff6f\uff7d\uff9e\uff7d\uff72\uff90\uff9d\uff78\uff9e\uff7d\uff78\uff70\uff99\/\u5e7c\u5150\uff65\u5150\u7ae5","school":"1","yuryokb":"1","yoyakb":"0","instcd":"0","instnm":"\u2015","instrnm":"\u2015","level":"1","hmarknm":"\u2015","kids_flag":"1","color_cd":"ffffcc"},{"sisetcd":"B1","sisetnm":"\u30d7\u30fc\u30eb","gyono":"31","youbi":"4","sttime":"930"[...]
